body{
    /* background: url(../img/estrutura.png) ;
    background-position: center center;
    background-size: cover cover;  */
}

#main-section{
    /* background: #f0f0f5; */
    background: rgb(150,196,196);
background: radial-gradient(circle, rgba(150,196,196,1) 15%, rgba(142,141,190,1) 100%);
    /* border:5px solid rgb(184, 0, 0); */
    height: 417px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    flex: 1;
}

#container-main{
    /* border:2px solid rgb(206, 175, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-main div{
    margin: 60px;
}


#calculator{
    /* border:10px solid rgb(0, 245, 255); */
    background-color: rgb(253, 253, 150);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(99, 94, 94);
}

#calculator a{
    color: Black;
}


#pomodoro{
    /* border:2px solid rgb(99, 1, 69); */
    background-color: #ffe5f0;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(99, 94, 94);
}

#todo{
    /* border:2px solid rgb(128, 14, 14); */
    background-color: 	#a5eea0;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(99, 94, 94);
}