
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px; */
    background: radial-gradient(circle, #150420 15%, rgb(82, 80, 110) 100%);
    font-family: 'JetBrains Mono', monospace;
    flex: 1;
}

/* Calculadora */
#div-container-calculator{
    border:20px solid rgb(52, 40, 83);
    background-color: rgb(52, 40, 83) ;
    width: 15%;
    border-radius: 25px ;
    /* height: 330px; */
}

#visor{
    text-align: right;
    background-color: #EdEEE9;
    border-radius: 15px;
    height: 90px;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 40px;
}

#last-operation {
    color: rgb(177, 168, 168);
    overflow-wrap: break-word;
    padding: 0.2em;
    min-height: 1.7em;
  }
  
  #current-operation {
    overflow-wrap: break-word;
    padding: 0.2em;
    min-height: 1.7em;
    font-size: 1.5em;
    font-weight: 800;
  }



  /* Botões */
.container-calculator-button{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.span2{
    grid-column: span 2;
}
.span3{
    grid-column: span 2;
}
.btn{
    font-size:1em;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    margin: 2px;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover{
    background: rgb(99, 84, 138);
    color: #dfdfd0;
    font-weight: bold;

}
.operator{
    background-color:#96f550;
    font-weight: bold;

}

